body{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    border-radius: 5em;
    background-color: beige;
        
}

.contenedor{
    margin: 0 auto;
    border-radius: 5em;
    background-color: beige;
    
}

#titulo{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 100;
    letter-spacing: 5px;
    color: blueviolet;
    box-shadow: 10px 10px 10px 10px;
    border-color: aliceblue;
}

#Texto{
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}


.contenedorFooter{
  background-color: rgb(98, 17, 173);
  color: aliceblue;
  padding: 10px 20px;
}

#CarruselPalabras{
    height: 100vmax;
    width: 50vmax;
    position: absolute;
    left: -50%;
}